* {
  margin: 0;
  padding: 0;
}
body {
  background: #e6e8e7;
  font-family: "arial";
  overflow: hidden;
}

.center { text-align:center; }

/* Header */
.header {
  margin: 0px 5px;
  padding: 0px 2px;
}
.header input, .header select {
  border: solid 1px #dee0df;
  background: #f3f5f4;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  width: 30%;
  outline: none;
}
.header select { width: 20% !important; }
.header input::placeholder { color: #999; }
.header .day-container { color: #aaa; }
.header .day-container .day { padding: 10px; }
.header .day-container .day.active {
  background: #da6667;
  color: #eee;
}

/* Flex-box */
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-item {display: block;}
.col-1 { width: 8.33%; }
.col-2 { width: 16.67%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.67%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.67%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.67%; }
.col-12 { width: 100%; }

/* task column */
.task-block {
  margin: 10px 5px;
  padding: 0px 2px;
}
.task-header {
  color: #272729;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: #dde1e2 solid 1px;
  padding: 10px 0px;
}
.task-container {
  list-style: none;
  overflow: auto;
  padding: 0px 5px 50px 5px;
  background: #f3f5f4;
  border: #dde1e2 solid 1px;
  max-height: 75vh;
  min-height: 20vh;
}
.task-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.task-container::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}
.task-container::-webkit-scrollbar-thumb {
	background-color: #aaa;
  border-radius: 3px;
}
.task-button {
  background: #aab3c2;
  width: 100%;
  font-size: 30px;
  color: #8891a0;
  border: #dde1e2 solid 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: none;
}
.task-button:hover {
  background: #8891a0;
  color: #aab3c2;
}

/* CARDS */
.card {
  border: solid 1px #dee0df;
  font-size: 14px;
  background: #fff;
  padding: 20px 10px;
  margin: 10px 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:active {
  cursor: grabbing;
  opacity: 0.5;
}
.card input[type=checkbox] {
  outline: none;
  cursor: pointer;
}
.card .header{
  font-weight: 500;
  padding: 3px 6px;
  margin: 0px 0px 0px 20px;
  font-size: 12px;
  border-radius: 5px;
  color: white;
}
.card .header-container { padding: 0px 0px 8px 0px; }
.card .body {
  padding-left: 15px;
  display: inline-block;
}
.card.done { opacity: 0.5; }
.card.done .body { text-decoration: line-through; }
.card-red .header { background: #f44336 }
.card-pink .header { background: #e91e63; }
.card-purple .header { background: #9c27b0; }
.card-blue .header { background: #2196f3; }
.card-indigo .header { background: #3f51b5; }
.card-orange .header { background: #ff9800; }
.card-yellow .header { background: #ffcc00; }
.card-green .header { background: #4caf50; }
